<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div>
    <h1 style="color: white;">
      Gym timer
    </h1>
    <span style="color: white;">
      Gym timer was developed by Juwaki Ledwaba to help all those gym enthusiasts
       track time spent on sets, reps and rest periods.
    </span>
  </div>
  <span style="color: lime;">************************************************************************************</span>
  <div>
    <h1 style="color: white;">
      about developer
    </h1>
    <span style="color: white;">
      i, Juwaki Ledwaba am software developer with vast experience across multiple entities, always looking for a way to make life
      simple through the digital world.
    </span>
  </div>

  <div>
    <p style="color: lime;
    font-style: italic;
    font-size: 24px;
    font-weight: 800;" >
     click below to follow me on social media for more free apps

    </p>
    <span style="color:red; font-size: 62px;  padding-left: 73px;" (click)="openInsta()">
      <ion-icon name="logo-instagram"></ion-icon>

    </span>



    <span style="color:blue; font-size: 62px; 
    padding-left: 64px;" (click)="openFacebook()">
      <ion-icon name="logo-facebook"></ion-icon>

    </span>
  </div>

  <div style="margin-top: 173px;">

    <ion-button expand="full" (click)="dismiss()">Close About</ion-button>

  </div>

</ion-content>